<!-- app/views/pages/home.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Page d'accueil</title>
</head>
<body>
  <h1>Bienvenue sur la page d'accueil de mon application !</h1>
  <!-- Ajoutez le contenu de votre page d'accueil ici -->
</body>
</html>
